@charset 'utf-8';

@import "gentella/gen.scss";

//샘플
.sample_box{
  padding:10px;margin:20px 0 30px;border-radius:5px;background:#f4f4f4;
  &:before{content:"sample";display:block;padding-bottom:10px;text-align:right;color:red;}
}

.nav{
  display:block;
}
